PORT=3011
NODE_ENV=development
JWT_SECRET=change-me
DEV_USER_EMAIL=admincorepmp@coretecnologias.cl

CE_DB_HOST=localhost
CE_DB_USER=postgres
CE_DB_PASSWORD=
CE_DB_NAME=core_enterprise

PMP_DB_HOST=localhost
PMP_DB_USER=postgres
PMP_DB_PASSWORD=
PMP_DB_NAME=core-pmp
